/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.ctr{
    justify-content: center;
    align-items: center;
}
.inl{
    display:inline-block;
}
.flex{
    display:flex;
}
.inlflex{
    display:inline-flex;
}
.W{
    flex-wrap: wrap;
}
.NW{
    flex-wrap: nowrap;
}
.b{
    background-color: black;
}
.r{
    background-color: red;
}
.g{
    background-color: green;
}
.y{
    background-color: yellow;
}
.s{
    font-family: sans-serif;
}
.bld{
    font-weight:bold;
}
.f{
    font-size:15px;
}
.abs{
    position: absolute;
}
.rel{
    position: relative;
}
.fix{
    position:fixed;
}
.navigation{
    height:67px;
    width:100%;
}
.BEHANCE{
    width:20%;
    margin-right:3%;
    align-items: center;
    justify-content: flex-start;
}
.MiddleNav{
    width:53%;
}
.RightNav{
    width:20%;
    margin-left:3%;
}
.discover{
    margin-right: 20px;
    padding: 4px;
    color: white;
}
.live{
    padding: 4px;
}
.jobs{
    margin-left: 20px;
    margin-right: 20px;
    padding: 4px;
}
.SignUp{
    border-top-left-radius:12%;
    border-top-right-radius:12%;
    border-bottom-left-radius:12%;
    border-bottom-right-radius:12%;
    background-color: blue;
    padding: 8px;
    color: white;
}
.samefont{
    color:gray;
}
.or{
    padding: 4px;
}
.Fb{
    margin-right: 12px;
}
.Google{
    
}
.search{
    padding: 4px;
    margin-right: 14px;
}
.SignIn{
    padding: 4px;
    margin-right: 12px;
    color:gray;
}
.AdobeLogo{
    padding: 4px;
    margin-right: 4px;
}
.AdobeText{
    padding: 4px;
    color: gray;
}
.behance{
    padding: 4px;
}
.fix{
    display:inline-block;
    width:400px;
    height:100px;
    background-color:green;
}
.red{
    display:inline-block;
    width:400px;
    height:300px;
    background-color:red;
}
.text{
    color:white;
}
.SliderBox{
}
.img {
    width: 170px;
    height: 65px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-left:7px; 
    margin-top: 15px;
    margin-bottom: 17px;
    border-radius: 7%;
    margin-right: 10px;
}

.photo {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 7%;
}

.Photo {
    width: 100%;
    height: 100%;
    max-width:368px;
    border-radius: 7%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    background-color: blue;
    border-radius: 7%;
}

.photo:hover .overlay {
    opacity: 1;
}

.HEADLINE {
    position:absolute;
    z-index:2000;
    top:40%;
    left:17%;
    font-size:25;
    font-weight:bolder;
    color: white;
}
.HeaderThirdSection{
    height:180px;
}
.HeaderThirdSection h1{
    font-weight:900;
    font-size:4em;
}
.HeaderThirdSection h2{
    font-weight: bold;
    font-size: 20px;
    margin-top: 17px;
}
.footer{
    height:35px;
    align-items: center;
}
.StartFooter{
    width:57%;
}
.RightFooter{
    width:40%;
    justify-content: flex-end;
    align-items: center;
}
.img1 {
    width: 31.5%;
    height: 300px;
    background-color: rgba(100,100,100,0.4);
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;

}

.photo1 {
    width: 100%;
    height: 100%;
    position: relative;
}

.Photo1 {
    width: 100%;
    height: 100%;
    max-width:368px;
}

.overlay1 {
    position: absolute;
    top: 10;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 34px;
    transition: .5s ease;
    background-color: rgba(100,100,100,0.4);
}

.photo1:hover .overlay1 {
    opacity: 1;
}

.headline1 {
    padding-top: 10px;
    position: absolute;
    color: black;
    bottom: 5%;
    top:15%;
    left:45%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: flex-start;
    height:30px;
}
.HEADLINE1 {
font-size: 14px;
    font-weight: bold;
    font-family:sans-serif;
    width:250px;
    margin-bottom: 5px;
}
.headline2{
    padding-top: 10px;
    position: absolute;
    color: black;
    bottom: 5%;
    top:90%;
    left:39%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: flex-start;
    height:30px;
}